* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box;
	color: #2A1951; */
}


h1 {
    font-size: 3em;
    text-align: center;
}

li {
    list-style-type: none;
}

.burger {
    display: flex;
}

.menu {
    font-size: 0.4em;
    display: flex;
    justify-content: center;
    gap: 5%;
}

main{
 margin:0 auto;
 
}

details{
    font-size: 0.4em;
}

.mainarticle__figure{
    display: flex;
    flex-direction: row-reverse;
    row-gap: 20%;
    margin-top: 1em;
}

.didyouread{
    display:flex;
    justify-content: space-between;
}

.forsubscribers{
    display:flex;
    justify-content: space-between;
}

footer{
    display:flex;
    background-color: grey;
}

.agree{
   
    text-align: center;
}

.agree button{
    color: white;
    background-color: red;
}