* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box;
	color: #2A1951; */
}

div{
    margin-bottom: 1em;
}

h1 {
    font-size: 3em;
    text-align: center;
}

li {
    list-style-type: none;
}

.burger {
    display: flex;
}

.menu {
    font-size: 0.4em;
    display: flex;
    justify-content: center;
    gap: 5%;
}

main{
 margin:0 10%;

}

details{
    font-size: 0.4em;
}

.mainarticle__figure{
    display: flex;
    flex-direction: row-reverse;
    row-gap: 20%;
    margin-top: 1em;
}

.didyouread{
    display:flex;
    justify-content: space-between;
}

.informationdk{
    text-align: right;
}

.forsubscribers{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

footer{
    height: 600px;
    display:flex;
    grid-template-columns: repeat(4, 1fr);
    background-color: grey;
}

footer button{
    max-width: 85px;
    max-height: 50px;
}

.agree{
   text-align: center;
   padding-bottom: 2em;
}

.agree button{
    color: white;
    background-color: red;
}

.didyoureadhead{
    color: red;
    padding-bottom: 1em;
}

.datecomments{
    display: flex;
    justify-content: space-between;
}
/* 
.date{
   margin-left:0;
padding-right: 40%;
}

.comments{
    margin-right: 0;
} */